<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8"/>
<title>Página Inicial</title>
</head>
<body>

<h1>Formulário de cadastro de Usuário: </h1>

<section>

<form action="adicionar" method="post">

<div>
<label for="nome">Nome: </label>
<input type="text" name="nome" id="nome" placeholder="Nome"/>
</div>

<div>
<label for="cpf">CPF: </label>
<input type="text" name="cpf" id="cpf" placeholder="CPF"/>
</div>

<div>
<label for="endereco">Endereço: </label>
<input type="text" name="endereco" id="endereco" placeholder="Endereco"/>
</div>

<div>
<label for="telefone">Telefone: </label>
<input type="text" name="telefone" id="telefone" placeholder="Telefone"/>
</div>

<button type="reset">Limpar</button>

<button type="submit">Salvar</button>
</form>

</section>

</body>
</html>