<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Adicionado com sucesso!</title>
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<nav>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="/">Cadastrar Usuário</a></li>
			<li role="presentation"><a href="listarUsuarios">Listar
					Usuários</a></li>
		</ul>
	</nav>

	<div class="container" align="center">
		<h1>Usuário adicionado com sucesso!</h1>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>